<% require "dotenv"; Dotenv.load(".env") %>

service: devtoolbox
image: <%= ENV["KAMAL_REGISTRY_IMAGE"] %>

registry:
  username: <%= ENV["KAMAL_REGISTRY_USERNAME"] %>
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  provenance: true
  sbom: true
  arch: amd64

servers:
  - <%= ENV["KAMAL_SERVER"] %>

proxy:
  hosts: 
  - <%= ENV["KAMAL_SSL_NAME"] %>
  - <%= ENV["KAMAL_SSL_ALT_NAME"] %>
  ssl: true
  app_port: 3000

ssh:
  user: <%= ENV["KAMAL_SSH_USER"] %>